#div1{
    width: 200px;
    height: 100px;
    background: rgb(163, 219, 30);
    transition: width 3s, height 3s;
}
#div1:hover{
    width: 400px;
    height: 200px;
    transform: skew(20deg,40deg);
}
#div2 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
#div2:hover{
    transform: translate(100px, 100px);
}
#div3 {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}
#div3:hover{
    transform: rotate(45deg);
    border-radius: 50%;
    transform: scale(2,0.5);
}
#div4 {
    width: 100px;
    height: 100px;
    background-color: rgb(27, 77, 216);
    transition: 1s;
}
#div4:hover{
    transform: rotateX(90deg) rotateY(90deg) rotateZ(20deg);
}