body{
    margin: 30px;
    color: red;
    font-size: 40px;
}

#div1{
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: royalblue;
    float: left;
}
#div2{
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: rgb(225, 214, 65);
    float: left;
}
#div3{
    margin: 0px;
    padding: 0px;
    width: 34%;
    background-color: rgb(56, 7, 27);
    float: left;
}

@media screen and (max-width :1000px){
    #div1,#div2, #div3{
        width: 100%;
        float: none;
    }

}